@font-face {
  font-family: Jost;
  src: url('../../shared/assets/fonts/Jost-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Roboto;
  src: url('../../shared/assets/fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Roboto;
  src: url('../../shared/assets/fonts/Roboto-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

:root {
  --color-text: #253017;
  --color-text-secondary: #69735d;
  --color-text-disabled: #9ca197;
  --color-disabled: #b2b9a9;
  --color-disabled-background: #e4e8df;
  --color-white: #fff;
  --color-accent: #508826;
  --color-accent-light: #abd27a;
  --color-accent-hover: #deebc5;
  --color-background: #f9faf7;
  --color-alarm: #e0796e;
  --color-error: #bf3920;
  --color-border: #e5e7eb;
  --color-tag-business: #eee7f7;
  --color-tag-creativity: #f7e7f2;
  --color-tag-languages: #ebe5c5;
  --color-tag-education: #e7f2f6;
  --color-tag-home: #f7ebe5;
  --color-tag-health: #e9f7e7;
  --color-tag-more: #e8ecf7;
  --font-family-heading: jost, sans-serif;
  --font-family-body: roboto, sans-serif;
  --font-size-h1: 32px;
  --line-height-h1: 40px;
  --font-size-h2: 24px;
  --line-height-h2: 32px;
  --font-size-h3: 20px;
  --line-height-h3: 24px;
  --font-size-h4: 16px;
  --line-height-h4: 24px;
  --font-size-body: 16px;
  --line-height-body: 24px;
  --font-size-caption: 12px;
  --line-height-caption: 16px;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --radius-default: 12px;
  --radius-tag: 20px;
  --radius-avatar: 100px;
  --radius-sm: 4px;
  --space-sm: 8px;
  --space-xs: 4px;
  --space-md: 16px;
  --shadow-md: 0 4px 6px rgb(0 0 0 / 7%);
}

[data-theme='dark'] {
  --color-background: #0f172a;
  --color-secondary: #1e293b;
  --color-text: #f1f5f9;
  --color-text-secondary: #94a3b8;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--color-text);
  font-family: var(--font-family-body);
  font-size: var(--font-size-body);
  line-height: var(--line-height-body);
  background-color: var(--color-background);
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3 {
  font-family: var(--font-family-heading);
  font-weight: var(--font-weight-medium);
}

h1 {
  font-size: var(--font-size-h1);
  line-height: var(--line-height-h1);
}

h2 {
  font-size: var(--font-size-h2);
  line-height: var(--line-height-h2);
}

h3 {
  font-size: var(--font-size-h3);
  line-height: var(--line-height-h3);
}

h4 {
  font-family: var(--font-family-body);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-h4);
  line-height: var(--line-height-h4);
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

button {
  font: inherit;
  background: none;
  cursor: pointer;
}
