.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modalContainer {
  width: 556px;
  max-width: 90vw;
  background-color: #ffffff;
  border-radius: 12px;
  padding: 64px 40px;
  text-align: center;
  position: relative;
}

/* container-wrapper 4 lays positioning (square outside the circle) */
.iconWrapper {
  position: relative;
  width: 75px;
  height: 75px;
  margin: 0 auto 32px auto;
}

/* circle */
.circleImg {
  width: 100%;
  height: 100%;
  display: block;
}

/* checkmark */
.checkmarkImg {
  position: absolute;
  top: 50%;
  left: 50%;
  /* shift on a half of its length/width */
  transform: translate(-50%, -50%);
  width: 28px;
  height: 16px;
  display: block;
}

.title {
  font-family: var(--font-family-heading);
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #253017;
  margin-bottom: 12px;
}

.subtitle {
  font-family: var(--font-family-body);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #69735d;
  margin-bottom: 40px;
}


.button {
  width: 436px;
  height: 48px;
  border-radius: 12px;
  background-color: #ABD27A;
  color: #253017;
  border: none;
  padding: 0; /* the height is specified so del paddings */
  font-weight: 500;
  font-size: 16px;
  line-height: 48px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.button:hover {
  background-color: #9bbf6a;
}
