.page {
  width: 100%;
  box-sizing: border-box;
}

.content {
  padding: 32px 36px 60px;
}

.skill {
  display: flex;
  justify-content: space-between;
  margin-block-end: 60px;
  gap: 24px;
}

.similar {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.skillCards {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}